body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: antiquewhite;
    padding: 1rem; /* use for text */
    padding-left: 10rem;
    border-color: black;
    border-width: 1rem;
    border-radius: 1rem;
    border-left-width: 1rem;
    margin: 0 0 0 10rem; /*use for larger element blocks */
    margin: auto;
}

a:hover {
    color:brown
    text-decoration; none:
}

.club {
    color: red;
}

#interests {
    color: aqua;
}

#multiContent{
    display:flex
    justify-content;
    flex-wrap: wrap;
}

img {
    border-radius: 2rem;
    scale: 50%;
}